* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh; /*full space of the monitor*/
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);    
}

.glass {
    background: white;
    min-height: 80vh; /* 80 percent of the screen*/
    width: 60%;
}